{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "chrome >= 60"
          ]
        },
        "debug": false,
        "loose": true,
        "modules": "commonjs",
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "__coverage__",
          {
            "ignore": "*.+(test|stub).*"
          }
        ]
      ]
    }
  }
}
