{
  "extends": "./node_modules/eslint-config-google/index.js", //https://google.github.io/styleguide/jsguide.html
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": 0
  }
}
