version: '3'

services:
  mongo-server:
    image: 'mongo:3.5.11'
    ports:
        - '27017:27017'

  mongo-seed:
      build: './mongo'
      depends_on:
        - 'mongo-server'
      links:
        - 'mongo-server'

  node:
    image: 'node:8.4-alpine'
    build: './node'
    depends_on:
      - 'mongo-server'
    links:
      - 'mongo-server'
    env_file:
      - './node/.env'
    ports:
      - '3000:3000'
      - '9222:9222'