version: '3'

services:
  mongo-server:
    image: 'mongo:3.5.11'
    ports:
        - '27017:27017'
    volumes:
      - './mongo/data:/data'

  mongo-seed:
      build: './mongo'
      depends_on:
        - 'mongo-server'
      links:
        - 'mongo-server'

  node:
    image: 'node:8.4-alpine'
    build: './node'
# Might need dockerize, or similar, to assure that mongo is ready before node.
# But seems to work stable during my testing (famous last words... ;)
    depends_on:
      - 'mongo-server'
    links:
      - 'mongo-server'
    env_file:
      - '.env'
    ports:
      - '3000:3000'
    volumes:
      - './node:/app'

volumes:
  data: {}