.typeahead-wrapper{
    position: relative;
}

.typeahead-wrapper ul{
    position: absolute;
    z-index: 3; /*Otherwise it ends up under the filter field*/
    width: 100%;
    padding: 0;
    margin: 0;
}

.typeahead-wrapper li{
    white-space: nowrap;
    padding: 2%;
    list-style: none;
    cursor: pointer;
    background: #f5f5f5;
    text-overflow: ellipsis;
    overflow: hidden;
}
.typeahead-wrapper li:nth-child(2n){
    background: #dcdcdc;
}
.typeahead-wrapper li:hover{
    background: #afafaf;
    color: #f5f5f5;
}

#query{
    /**
    Need to override bootstrap so using ID for higher specificity.
    Otherwise the input doesn't expand it's container, due to the added span.type-ahead
    Needs a more clever solution - position the typeahead thru JS instead.
     */
    width: 100%;
    border-radius: 0;
}
