.typeahead-wrapper{
    display: inline-block;
    position: relative;
}

.typeahead-wrapper ul{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

.typeahead-wrapper li{
    padding: 2%;
    list-style: none;
    cursor: pointer;
    background: #f5f5f5;
}
.typeahead-wrapper li:nth-child(2n){
    background: #dcdcdc;
}
.typeahead-wrapper li:hover{
    background: #afafaf;
    color: #f5f5f5;
}